{{>header}}
{{>navbar}}
{{#if message}}
<div class="alert alert-{{message.type}}" role="alert" id="alert">
    <div class="container">{{message.message}}</div>
</div>
{{/if}}

<div class="container my-5 d-flex justify-content-center">

    <div class="card w-50 bg-secondary">
        <div class="card-header text-center fs-5 fw-bold">
            Edit Type
        </div>
        <div class="card-body align-items-center">
            <form action="/edit-type" method="post">
                <div class="row g-3 mb-2 align-items-center">
                    <div class="col-3">
                        <label for="title" class="col-form-label">Type Name</label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" name="name" value="{{type.name}}">
                        <input type="text" class="form-control" name="id" value="{{type.id}}" hidden>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary col-12 mt-2">Update</button>
            </form>
        </div>
    </div>
</div>

<script>
    function handleChange() {
        const previewElement = document.getElementById('preview-poster')
        const value = URL.createObjectURL(event.target.files[0])

        previewElement.innerHTML = `<img src="${value}" style="width:250px;"/>`
    }
</script>
{{>footer}}